{% extends 'admin_header.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="section-header-breadcrumb-content">
                        <h1> Order Form</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-body">

            <div class="card">
                <form class="needs-validation" novalidate="" method="post" action="/admin/update_order/{{order.order_id}}">
                    {% csrf_token %}
                    <div class="card-header">
                        <h4>Inserting Order</h4>
                    </div>
                    <div class="card-body">
                                              <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Customer suggestion</label>
                            <div class="col-sm-9">
                                <input type="text" name="order_status" class="form-control" required="" value="{{order.order_status}}">
                                <div class="invalid-feedback">
                                    please enter customer suggestion
                                </div>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Customer suggestion</label>
                            <div class="col-sm-9">
                                <input type="text" name="customer_suggesion" class="form-control" required="" value="{{order.customer_suggesion}}">
                                <div class="invalid-feedback">
                                    please enter customer suggestion
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Price</label>
                            <div class="col-sm-9">
                                <input type="number" name="price" class="form-control" required="" value="{{order.price}}">
                                <div class="invalid-feedback">
                                    please enter Price
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Decoration Price</label>
                            <div class="col-sm-9">
                                <input type="number" name="decoration_price" class="form-control" required="" value="{{order.decoration_price}}">
                                <div class="invalid-feedback">
                                    please enter decoration price
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Addon Service Charge</label>
                            <div class="col-sm-9">
                                <input type="number" name="addon_service_charge" class="form-control" required="" value="{{order.addon_service_charge}}">
                                <div class="invalid-feedback">
                                    please enter addon service charge
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Cgst</label>
                            <div class="col-sm-9">
                                <input type="number" name="cgst" class="form-control" required="" value="{{order.cgst}}">
                                <div class="invalid-feedback">
                                    please enter cgst
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Sgst</label>
                            <div class="col-sm-9">
                                <input type="number" name="sgst" class="form-control" required="" value="{{order.sgst}}">
                                <div class="invalid-feedback">
                                    please enter sgst
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Total Price</label>
                            <div class="col-sm-9">
                                <input type="number" name="total_price" class="form-control" required="" value="{{order.total_price}}">
                                <div class="invalid-feedback">
                                    please enter Total Price
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Decoration</label>
                            <select class="form-control" name="decoration_id">
                                {% for data in Decoration %}
                                <option value="{{data.decoration_id}}">{{data.decoration_theam}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>User</label>
                            <select class="form-control" name="user_id">
                                {% for data in User %}
                                <option value="{{data.user_id}}">{{data.f_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Manager</label>
                            <select class="form-control" name="manager_id">
                                {% for data in Manager %}
                                <option value="{{data.manager_id}}">{{data.manager_name}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Event</label>
                            <select class="form-control" name="event_id">
                                {% for data in Event %}
                                <option value="{{data.event_id}}">{{data.event_name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="settingSidebar">
            <a href="javascript:void(0)" class="settingPanelToggle"> <i class="fa fa-spin fa-cog"></i>
            </a>
            <div class="settingSidebar-body ps-container ps-theme-default">
                <div class=" fade show active">
                    <div class="setting-panel-header">Theme Customizer</div>
                    <div class="p-15 border-bottom">
                        <h6 class="font-medium m-b-10">Theme Layout</h6>
                        <div class="selectgroup layout-color w-50">
                            <label> <span class="control-label p-r-20">Light</span>
                                <input type="radio" name="custom-switch-input" value="1" class="custom-switch-input"
                                       checked> <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="selectgroup layout-color  w-50">
                            <label> <span class="control-label p-r-20">Dark&nbsp;</span>
                                <input type="radio" name="custom-switch-input" value="2" class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Sidebar Colors</h6>
                    <div class="sidebar-setting-options">
                        <ul class="sidebar-color list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="blue">
                                <div class="blue"></div>
                            </li>
                            <li title="coral">
                                <div class="coral"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="allports">
                                <div class="allports"></div>
                            </li>
                            <li title="barossa">
                                <div class="barossa"></div>
                            </li>
                            <li title="fancy">
                                <div class="fancy"></div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Theme Colors</h6>
                    <div class="theme-setting-options">
                        <ul class="choose-theme list-unstyled mb-0">
                            <li title="white" class="active">
                                <div class="white"></div>
                            </li>
                            <li title="blue">
                                <div class="blue"></div>
                            </li>
                            <li title="coral">
                                <div class="coral"></div>
                            </li>
                            <li title="purple">
                                <div class="purple"></div>
                            </li>
                            <li title="allports">
                                <div class="allports"></div>
                            </li>
                            <li title="barossa">
                                <div class="barossa"></div>
                            </li>
                            <li title="fancy">
                                <div class="fancy"></div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="p-15 border-bottom">
                    <h6 class="font-medium m-b-10">Layout Options</h6>
                    <div class="theme-setting-options">
                        <label> <span class="control-label p-r-20">Compact
                                Sidebar Menu</span> <input type="checkbox" name="custom-switch-checkbox"
                                                           class="custom-switch-input" id="mini_sidebar_setting"> <span
                                class="custom-switch-indicator"></span>
                        </label>
                    </div>
                </div>
                <div class="mt-3 mb-3 align-center">
                    <a href="#" class="btn btn-icon icon-left btn-outline-primary btn-restore-theme">
                        <i class="fas fa-undo"></i> Restore Default
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}